@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.small-loader {
    display: inline-block;
    vertical-align: middle;

    div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: #ee264d;
        transform: translate3d(0, 0, 0);
        animation: spin 2s linear infinite;

        &:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            border-radius: 50%;
            border: 2px solid transparent;
            border-top-color: #85cec5;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        &:after {
            content: "";
            position: absolute;
            top: 8px;
            left: 8px;
            right: 8px;
            bottom: 8px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff;
            animation: spin 1.5s linear infinite;
        }
    }
}
